<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left col-xs-8">
                <img src="https://wallpapercave.com/wp/wp3797546.jpg">
            </div>
            <div class="pull-right col-xs-4">
                <ul class="list-group">
                    <li class="list-group-item"><a routerLink="/server">Server</a></li>
                    <br>
                    <li class="list-group-item"><a>Hardware</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>