<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title"  (click)="desc=true" #title>    
        </div>
    </div>
    
    <div class="row" [ngStyle]="{display:!desc?'none':'block'}">
        <div class="col-md-6">
            <textarea class="form-control" id="description" rows="3" #description></textarea>
            <button class="btn btn-primary" (click)="addData()">Add</button>
        </div>
    </div>
</div>